# ============ Supabase Auth ============
# Ambil dari: Dashboard Supabase -> Project Settings -> API
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

# ============ Prisma / Database (opsional, belum dipakai) ============
DATABASE_URL=""
